# Игнорируем папки, которые создаются в процессе сборки
dist/


# Игнорируем временные файлы и папки
temp/
*.tmp

# Игнорируем файлы логов
*.log

# Игнорируем файлы, специфичные для операционной системы
.DS_Store
Thumbs.db

# Игнорируем файлы, специфичные для редакторов
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Игнорируем node_modules, так как они могут быть восстановлены через package.json
node_modules/

# Игнорируем файлы, связанные с тестированием
coverage/
*.test.js
*.spec.js

# Игнорируем файлы конфигурации, которые могут содержать чувствительные данные
.env
.env.local
.env.*.local
